@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


body {
  font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,h3,h4 {
  font-weight: 700;
}

/* Product cards */

.product-card {
  box-shadow: 1px 1px 4px 0 rgb(30 30 30 / 16%);
}

.product-card img {
  margin: auto;
  display: block;
  max-width: 115px;
  max-height: 100px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .product-card img {
    display: block;
    width: 85px;
    margin-right: 10px;
    margin-bottom: 0px;
    height: auto;
    float: left;
  }
}

.price {
  font-size: 1.5rem;
  font-weight: 700;
}

.product-card p {
  margin: 0;
  font-size: 0.9rem;
}
.product-card small {
  color: #b3b3b3;
  font-size: 0.8rem;
}

/* Social icons */

.fa-brands:hover {
  color: #929292;
}

